@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Poppins&family=Roboto&family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
   background: rgb(238,174,202);
   background: linear-gradient(0deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
   background-repeat: no-repeat;
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
}
/*style header*/
header {
   margin: 10%;
   position: relative;

}
header h1{
    font-size: 2.5rem;
    font-family: 'Fugaz One' , sans-serif;
}

header h2{
   font-size: 2rem;
   font-family: 'Fugaz One' , sans-serif;
   margin: 10%;
}

#question-text {
    font-size: 4rem;
    font-family: 'Secular One', sans-serif;
}

.container {
   width: 70vw;
   max-width: 80%;
   background-color: beige;
   height: 60vh;
   box-shadow: 0 0 5px 4px;
   display: flex;
   flex-direction: column;
   
   align-items: center;
   border-radius: 8px;
   text-align: center;
}

.score {
   font-size: 2rem;
   font-weight: bold;
}
 
#user-score {
   color: #aabbcf;
}
 
#total-score {
   color: #F6490F
}

.btn {
   font-size: large;
   font-weight: bold;
   box-shadow: 0 6px 12px -2px rgba(#8ca4ce, .15);
   background: #79a0cf ;
   border-radius: 4px;
   padding: 10px;
   color: beige;
   margin: 6px;
   cursor: pointer;
}

.options {
   padding: 10px;
   order: 3;
}
 
.controls {
   padding: 10px;
   order: 4;
}

.hide {
   display: none;
}